.home-page {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #007bff;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header nav ul li {
    display: inline;
    margin: 0 10px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.posts {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    font-size: 16px;
    margin: 0 10px;
}

/* Classe para esconder elementos */
.hidden {
    display: none;
}